# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Environment variables
.env

# VS Code settings
.vscode/

# Flask cache
instance/
*.log

# Mac / Windows system files
.DS_Store
Thumbs.db