{% extends "layout.html" %}
{% block title %}Edit Log{% endblock %}

{% block content %}
    <!-- Edit Log Form -->
    <div class="form-card">
    <a href="{{ url_for('student') }}" class="btn btn-back btn-light"><i class="bi bi-arrow-left-circle-fill"></i> Back</a>
        <br>
        <br>
        <br>
        <br>
        <h2>Edit Log</h2>
        <hr>
        <form method="POST" action="{{ url_for('edit_log', log_id=log['id']) }}">
            <label for="date" class="form-label">Date:</label>
            <input type="date" class="form-control" id="date" name="date" value="{{ log['date'] }}" required>
            <br>
            <label for="activity" class="form-label">Activity / Tasks Completed:</label>
            <textarea class="form-control form-textarea" id="activity" name="activity" required>{{ log['activity'] }}</textarea>
            <br>
            <button type="submit" class="btn btn-submit"><i class="bi bi-plus-circle-fill"> </i>Update Log</button>
        </form>
    </div>

{% endblock %}