<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}SIWES Logging System{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <header>
    <h1>SIWES Logging System</h1>
    <nav>
      <a href="/">🏠 Home</a> |
      <a href="/student">📒 My Logs</a> |
      <a href="/log">📝 Log</a>  |
      <a href="/supervisor">📋 Supervisor</a>
    
      {% if current_user.is_authenticated %}
        Welcome, {{ current_user.username }}! <a href="{{ url_for('logout') }}">Logout</a>
      {% else %}
        <a href="{{ url_for('login') }}">Login</a> | <a href="{{ url_for('register') }}">Register</a>
      {% endif %}
    </nav>
  </header>

  <main>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

    {% if current_user.is_authenticated %}
      Logged in as {{ current_user.username }} | <a href="{{ url_for('logout') }}">Logout</a>
    {% else %}
      <a href="{{ url_for('login') }}">Login</a> | <a href="{{ url_for('register') }}">Register</a>
    {% endif %}

    <hr>
    <p><a href="{{ url_for('admin_login') }}">Login as Admin</a></p>
  </main>

  <footer>
    <p>&copy; 2025 Winner Usunobu</p>
  </footer>
</body>
</html>