{% extends "layout.html" %}
{% block title %}Add Daily Log{% endblock %}

{% block content %}

<!-- Add Log Form -->
    <div class="form-card">
        <h2>Add Daily Log</h2>
        <form method="POST" action="{{ url_for('log') }}">
            <label for="date" class="form-label">Date</label>
            <input type="date" class="form-control" id="date" name="date" required>

            <label for="activity" class="form-label">Activity / Tasks Completed</label>
            <textarea class="form-control form-textarea" id="activity" name="activity" placeholder="Describe your activities..." required></textarea>

            <button type="submit" class="btn btn-primary btn-submit"><i class="bi bi-file-earmark-plus"> </i>Submit Log</button>
        </form>
    </div>

{% endblock %}